body {
	overflow:hidden;
}
#iphoneDock {
	position: absolute;
}
#iphoneDockScreen {
	position: absolute;
	background: red;
}
.draggable {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;

    color: #FFF;
    font: bold 16px Helvetica,Arial,Sans-serif;
    text-align: center;
    background-color: #ABF;
    border: 3px solid #fff;
}
#sourcecode pre {
	color: #333;
	border: 1px solid black;
	text-align: left;
	font-size: 1.1em;
	font-weight: bold;
	font-family: monaco, monospace;
	float: left;
	width: 80%;
	padding: 10px;
	overflow-x: auto;
	background-color: #FBF9EA;
	border: 1px solid #E2E1D5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 10%;
	position: absolute;
	bottom: 300px;
}